In [2]:
from sagas.train.parallel_corpus import load_corpus, take_samples
import sagas
items=load_corpus('/pi/ai/seq2seq/ind-eng/ind.txt')
rows=take_samples(items)
sagas.to_df(rows, ['en','id'])

,en,id
0,Tom showed up at John and Mary's wedding.,Tom hadir pada pernikahan John dan Mary.
1,I'd like to rent a car.,Aku ingin menyewa sebuah mobil.
2,She is still financially dependent on her pare...,Dia masih bergantung secara finansial kepada o...
3,You should concentrate on the road when you're...,Anda harus berkonsentrasi pada jalan saat anda...
4,I remember seeing that movie.,Saya ingat dulu pernah nonton film itu
5,Are we all ready?,Apakah kita siap?
6,Tom is older than me.,Tom lebih tua ketimbang aku.
7,We're going to the theater.,Kami akan pergi ke teater.
8,I understand.,Aku mengerti.
9,Have you ever been to Mexico?,Apakah kamu pernah ke Meksiko?

In [4]:
corpus_df=sagas.to_df(items, ['en','id'])
corpus_df.head()

      en       id
0   Run!    Lari!
1   Who?   Siapa?
2   Wow!     Wow!
3  Help!  Tolong!
4  Jump!  Lompat!